@import "tailwindcss";

/* Palette - https://coolors.co/palette/0466c8-0353a4-023e7d-002855-001845-001233-33415c-5c677d-7d8597-979dac */

@theme {
  --color-smart-blue-600: #0466c8;
  --color-prussian-blue-900: #001833;
  --color-twilight-indigo-300: #9cabc9;
  --color-twilight-indigo-600: #485c84;
  --color-twilight-indigo-800: #242e42;

  --color-smart-blue-50: #e6f2fe;
  --color-smart-blue-100: #cde5fe;
  --color-smart-blue-200: #9bccfd;
  --color-smart-blue-300: #69b2fc;
  --color-smart-blue-400: #3799fb;
  --color-smart-blue-500: #057ffa;
  --color-smart-blue-700: #034c96;
  --color-smart-blue-800: #023364;
  --color-smart-blue-900: #011932;
  --color-smart-blue-950: #011223;

  --color-prussian-blue-50: #e5f1ff;
  --color-prussian-blue-100: #cce4ff;
  --color-prussian-blue-200: #99c9ff;
  --color-prussian-blue-300: #66adff;
  --color-prussian-blue-400: #3392ff;
  --color-prussian-blue-500: #0077ff;
  --color-prussian-blue-600: #005fcc;
  --color-prussian-blue-700: #004799;
  --color-prussian-blue-800: #003066;
  --color-prussian-blue-950: #001124;

  --color-twilight-indigo-50: #eff1f6;
  --color-twilight-indigo-100: #dee3ed;
  --color-twilight-indigo-200: #bdc7db;
  --color-twilight-indigo-400: #7b8fb7;
  --color-twilight-indigo-500: #5b73a4;
  --color-twilight-indigo-700: #364563;
  --color-twilight-indigo-900: #121721;
  --color-twilight-indigo-950: #0d1017;
}

body {
  background-color: var(--color-prussian-blue-900);
}
